<h2>Create New Gym Member</h2>

<form method="post" action="/members">
  
      <label for="first-name-field">First Name:</label>
      <input type="text" name="first_name" id="first-name-field"/>
    
      <label for="last-name-field">Last Name:</label>
      <input type="text" name="last_name" id="last-name-field"/>

      <label for="date-of-birth-field">Date Of Birth:</label>
      <input type="date" name="date_of_birth" id="date-of-birth-field"/>

      <label for="membership-type-field">Membership Type:</label>
      <input type="membership_type" name="membership_type" id="membership-type-field"/>
   

    
      <input type="submit" value="Submit Details">
    

 
</form>