<h2 class="form-heading">Create New Gym Member</h2>

<div class="new-form">
<form method="post" action="/members">
  
      <label for="first-name-field"></label>
      <input type="text" placeholder="First Name" name="first_name" id="first-name-field" required/>
    
      <label for="last-name-field"></label>
      <input type="text" placeholder="Last Name" name="last_name" id="last-name-field" required/>

      <label for="date-of-birth-field">Date Of Birth:</label>
      <input type="date" name="date_of_birth" id="date-of-birth-field" required/>

      <label for="membership-type-field"></label>
      <select class="highlight" name="membership_type" id="membership-type-field" required>
            
            <option value="" selected disabled hidden>Membership Type</option>
            <option value="Standard" >Standard</option>
            <option value="Bronze">Bronze</option>
            <option value="Silver">Silver</option>
            <option value="Gold">Gold</option>
            
      </select>
   

    
      <input type="submit" value="Submit Details">
    

 
</form>

</div>