<h2>Create New Gym Activity</h2>

<form method="post" action="/activities">
  
      <label for="gym-category">Category:</label>
      <input type="text" name="category" id="gym-category" required/>
    
      <label for="activity-date">Date:</label>
      <input type="date" name="activity_date" id="activity-date" required/>

      <label for="activity-time">Time:</label>
      <input type="date" name="activity_time" id="activity-time" required/>

      <label for="number-of-spaces">Spaces Available:</label>
      <input type="number" name="number_of_spaces" id="number-of-spaces" required/>

      
   

    
      <input type="submit" value="Submit Activity">
    

 
</form>