<!DOCTYPE html>
<html>
<head>
  <title>Gym Web App</title>
 
  
  

  <link rel="stylesheet" type="text/css" href="">

</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a href="/">Members</a>
      </li>
      <li>
        <a href="/">Bookings</a>
      </li>
      <li>
        <a href="/">Activities</a>
      </li>
    </ul>
  </nav>
  
  <%= yield %>
 
  </main>
</body>
</html>