<!DOCTYPE html>
<html>
<head>
<title>Gym Web App</title>
 
  

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/0789728bba.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
  <body>
 
    
    <nav class="main-nav">  
        <h1 ><a id="logo" href="/activities">Gym Logo</a></h1> 
          <ul>
            <li><a href="/members">Members</a>
                <ul>
                  <li class="dropdown-content"><a href="/members/new">Create Member</a></li>
                </ul>
            </li>
            <li><a href="/activities">Activities</a>
                <ul>
                  <li class="dropdown-content"><a href="/activities/new">Create Activity</a></li>         
                </ul>
            </li>
            <li><a href="/bookings">Bookings</a>
                <ul>
                  <li class="dropdown-content"><a href="/bookings/new">Book Activity</a></li>
                </ul>
            </li>
          </ul>
    </nav>

    <div class="banner">
      <div class="banner-content">
          <h2>Ultimate Performance</h2>
          <p>25 Lothian Road, Edinburgh</p>
          <p>ultimate-performance@gmail.com</p>
          <p>0131 310 4567</p>
      </div>
    </div>




  
  <%= yield %>
  


  
  </body>
</html>