<!DOCTYPE html>
<html>
<head>
  <title>Gym Web App</title>
 
  
  

  

</head>
<body>
  
<nav>
    <h1><a href="/activities">Gym Logo</a></h1>
    <ul>
      <li><a href="/members">Members</a></li>
        <ul>
            <li><a href="/members/new">Create Member</a></li>
        </ul>
      </li>

      <li><a href="/activities">Activities</a></li>
        <ul>
            <li><a href="/activities/new">Create Activity</a></li>         
        </ul>
      </li>

      <li><a href="/bookings">Bookings</a></li>
        <ul>
            <li><a href="/bookings/new">Book Member to Activity</a></li>
        </ul>
      </li>


    </ul>
</nav>


  
  <%= yield %>
  


  
</body>
</html>