<h2>Create New Booking</h2>

<form method="post" action="/bookings">
  
     
<label for="member-id">Member ID:</label>
      <input type="number" name="member_id" id="member-id" required/>
    
      <label for="activity-id">Activity ID:</label>
      <input type="number" name="activity_id" id="activity-id" required/>
    
      <input type="submit" value="Submit Details">
    

 
</form>