<p>Member ID: <%= @booking.member_id %></p>
<p>Activity ID: <%= @booking.activity_id %></p>

<p><a href="/bookings/<%= @booking.id %>/edit">Amend Booking Details</a></p>

<form method="post" action="/bookings/<%= @booking.id %>/delete">
  <input type="submit" value="Cancel Booking"/>
</form>